.Header {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 828px) {
    .TitleLogo {
      display: none;
    }
  }
  